.hidden{
    visibility: hidden;
}
.menu{
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://top-fon.com/uploads/posts/2023-01/1674708145_top-fon-com-p-fon-gonki-dlya-prezentatsii-69.jpg');
}
.start-btn{
    border: none;
    border-radius: 13px;
    cursor: pointer;
    font-size: 20px;
    padding: 15px 50px;
    transition: 0.2s;
}
.start-btn:hover{
    transform: scale(1.2);
}
.game{
    display: flex;
    position: fixed;
    background-color: rgb(125, 191, 125);
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
}
h1{
    color: gold;
    font-size: 50px;
    -webkit-text-stroke: 2px black;
}
.road {
    position: relative;
    width: 40vw;
    height: 100vh;
    background-color: rgb(98, 98, 98);
}

.railing {
    position: absolute;
    top: 0;
    width: 10px; 
    height: 100%;
    background-color: white; 
}

.railing.left {
    left: 0;
}

.railing.right {
    right: 0;
}
.road-line {
    position: absolute;
    width: 15px;
    height: 80px;
    background-color: white;
    left: 50%;
    transform: translateX(-1px);
    z-index: 1; 
}

.car {
    width: 50px; 
    height: 100px; 
    background-image: url(audi-rs6.png);
    background-size: 100% 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); 
    z-index: 2;
}
.obstacle {
    width: 60px; 
    height: 60px; 
    background-color: blue;
    position: absolute;
    transform: translateX(-50%);
    z-index: 2;
}
.obstacle.green {
    background-color: sienna;
    width:60px ;
    height:90px;
}

.obstacle.large {
    background-color: skyblue;
    width: 80px;
    height: 140px;
}
.start-stop{
    position: fixed;
    top: 10px;
    left: 10px;
    width: 100px;
    cursor: pointer;
}
/* выбор машины */
.burger{
    border: none;
    border-radius: 13px;
    cursor: pointer;
    font-size: 20px;
    padding: 15px 50px;
    transition: 0.2s;
   background-color: rgb(73, 158, 192);
}

.burger:hover{
    transform: scale(1.2);
}
.carsMenu{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    left: -100vw;
    background-color: rgb(124, 219, 226);
    -webkit-box-shadow: 0px 0px 18px 0px rgba(26, 123, 197, 0.966);
    -moz-box-shadow: 0px 0px 18px 0px rgba(40, 139, 214, 0.815);
    box-shadow: 0px 0px 18px 0px rgba(46, 127, 189, 0.2);
    transition: 0.5s;
}
.close-btn{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-image: url(close.png);
    background-size: 100% 100%;
    background-color: red;
}
.close-btn:hover{
    background-color:rgb(35, 170, 35);
}
.carsMenu.visible {
    left: 0;
}
.catalog{
    display: flex;
    gap: 20px;
    margin: 20px;
}
.card{
    width: 15vw;
    cursor: pointer;
    height: 40vh;
    border: 2px solid black;
    border-radius: 10%;
    transition: 0.2s;
    color: yellow;
    background-color: rgb(136, 141, 139);
}
.card h2{
    margin: 0;
}
.card:hover{
    transform: scale(1.1);
}
.card img{
    margin-top: 10px;
    height: 60%;
}
.chosen{
    background-color: rgb(109, 81, 141);
}
.chosen::after{
    content: "Сейчас выбрано";
}
@media screen and (max-width: 150px) {
    .obstacle {
        width: 20px; 
        height: 20px; 
    }
    .obstacle.green {
        width:30px ;
        height:60px;
    }
    
    .obstacle.large {
        width: 60px;
        height: 120px;
    }
    .car {
        width: 30px; 
        height: 50px; 
    }
}