.hidden{
    visibility: hidden;
}
.menu{
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(125, 191, 125);
}
.start-btn{
    border: none;
    border-radius: 13px;
    cursor: pointer;
    font-size: 20px;
    padding: 15px 50px;
    transition: 0.2s;
}
.start-btn:hover{
    transform: scale(1.2);
}
.game {
    display: flex;
    position: fixed;
    background-color: rgb(68, 114, 68);
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.road {
    position: relative;
    width: 40vw;
    height: 100vh;
    background-image: url('asphalt.jpg');
    background-repeat: repeat-y;
    background-color: rgb(98, 98, 98);
    background-size: auto 100%;
}

.grass {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('grass.jpg');
    background-repeat: repeat-x repeat-y;;
    background-size: auto 100%;
}

.railing {
    position: absolute;
    top: 0;
    width: 10px;
    height: 100%;
    background-image: url('concrete.jpg');
    background-repeat: repeat-y;
    background-color: white;
    background-size: 1000%;
    z-index: 0;
}

.railing.left {
    left: 0;
}

.railing.right {
    right: 0;
}

.road-line {
    position: absolute;
    width: 15px;
    height: 80px;
    background-image: url('concrete.jpg');
    background-color: white;
    left: 50%;
    transform: translateX(-1px);
    z-index: 1; 
}

.car {
    width: 50px; 
    height: 100px; 
    background-image: url(audi-rs6.png);
    background-size: 100% 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); 
    z-index: 2;
}
.obstacle {
    background-image: url('./bike.png');
    background-size: 100% 100%;
    width: 30px;
    height:70px;
    position: absolute;
    transform: translateX(-50%);
    z-index: 2;
}
.obstacle.green {
    background-image: url('./vrag.png');
    width:45px ;
    height:90px;
    z-index: 2;
}

.obstacle.large {
    background-image: url('./bus.png');
    background-size: 100% 100%;
    width: 65px;
    height: 240px;
    z-index: 2;
}
.start-stop{
    position: fixed;
    top: 10px;
    left: 10px;
    width: 100px;
    cursor: pointer;
}
/* выбор машины */
.burger{
    border: none;
    border-radius: 13px;
    cursor: pointer;
    font-size: 20px;
    padding: 15px 50px;
    transition: 0.2s;
}
.burger:hover{
    transform: scale(1.2);
}
.carsMenu{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    left: -100vw;
    background-color: rgb(125, 191, 125);
    -webkit-box-shadow: 0px 0px 18px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 18px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 18px 0px rgba(34, 60, 80, 0.2);
    transition: 0.5s;
}
.close-btn{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-image: url(close.png);
    background-size: 100% 100%;
}
.close-btn:hover{
    background-color:rgb(104, 160, 104);
}
.carsMenu.visible {
    left: 0;
}
.catalog{
    display: flex;
    gap: 20px;
    margin: 20px;
}
.card{
    width: 15vw;
    cursor: pointer;
    height: 40vh;
    border: 2px solid black;
    border-radius: 10%;
    transition: 0.2s;
}
.card h2{
    margin: 0;
}
.card:hover{
    transform: scale(1.1);
}
.card img{
    margin-top: 10px;
    height: 60%;
}
.chosen{
    background-color: rgb(135, 207, 135);
}
.chosen::after{
    content: "Сейчас выбрано";
}
@media screen and (max-width: 150px) {
    .obstacle {
        width: 20px; 
        height: 20px; 
    }
    .obstacle.green {
        width:30px ;
        height:60px;
    }
    
    .obstacle.large {
        width: 40px;
        height: 80px;
    }
    .car {
        width: 30px; 
        height: 50px; 
    }
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 3; 
}

.popup h1 {
    margin: 0;
}

.popup button {
    margin-top: 10px;
}