.hidden{
    visibility: hidden;
}
.menu{
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(125, 191, 125);
}
.start-btn{
    border: none;
    border-radius: 13px;
    cursor: pointer;
    font-size: 20px;
    padding: 15px 50px;
    transition: 0.2s;
}
.start-btn:hover{
    transform: scale(1.2);
}
.game{
    display: flex;
    position: fixed;
    background-color: rgb(125, 191, 125);
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.road {
    position: relative;
    width: 50vw;
    height: 100vh;
    background-color: rgb(98, 98, 98);
}

.railing {
    position: absolute;
    top: 0;
    width: 10px; /* Adjust the width of the railings as needed */
    height: 100%;
    background-color: white; /* Set the color of the railings */
}

.railing.left {
    left: 0;
}

.railing.right {
    right: 0;
}
.car {
    width: 30px; 
    height: 50px; 
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: left 0.5s ease; /* Add a transition property for smooth movement */
}